
@{
    ViewBag.Title = "ExcelCreateBackground";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ExcelCreateBackground</h2>

@using (Html.BeginForm("Index", "Home"))
{
    <button id="submitButton" type="submit">Create Simple Excel</button>
}