﻿@{
    ViewBag.Title = "Home Page";
}

<a href="/Home/Listele" class="Button">Text</a>

@{Html.BeginForm("CreateDocument", "Home", FormMethod.Get);
    {
        <div>
            <input type="submit" value="Create Document" style="width:150px;height:27px" />
        </div>
    }
    Html.EndForm();
}

@{Html.BeginForm("Download", "Home", FormMethod.Get);
    {
        <div>
            <input type="submit" value="Download Document" style="width:150px;height:27px" />
        </div>
    }
    Html.EndForm();
}

@{Html.BeginForm("ExportListFromTsv", "Home", FormMethod.Get);
    {
        <div>
            <input type="submit" value="Create Document2" style="width:150px;height:27px" />
        </div>
    }
    Html.EndForm();
}

@{Html.BeginForm("ExportListUsingEPPlus", "Home", FormMethod.Get);
    {
        <div>
            <input type="submit" value="Create Document3" style="width:150px;height:27px" />
        </div>
    }
    Html.EndForm();
}

@{Html.BeginForm("ImportToExcel", "Home", FormMethod.Get);
    {
        <div>
            <input type="submit" value="Create Document4" style="width:150px;height:27px" />
        </div>
    }
    Html.EndForm();
}